{% extends "users/base.html" %}

{% block title %}
<title>Password Change</title>
{% endblock title %} 

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="p-4 p-md-5 shadow rounded bg-white mt-3">
                <h2 class="text-center mb-4">Change Password</h2>               
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger mt-3">
                        <p class="mb-1">Please correct the errors below:</p>
                        <ul class="mb-0">
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
