{% extends "users/base.html" %}

{% block title %}
<title>Password Changed</title>
{% endblock title %} 

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <div class="p-4 p-md-5 shadow rounded bg-white mt-3 text-center">
        <h2 class="mb-4">Password Changed</h2>
        <div class="alert alert-success">
          Your password has been changed successfully.
        </div>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3">Go to Dashboard</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
